body{
	margin: 0;
	font-size: 20px;
	min-width: 1000px;
}
*{
	margin: 0;
}
a{
	text-decoration: none;
	color: black; 
}

ul{
	list-style: none;
}

/*color #33FF90 */

.topo{
	display: block;
	width: 100%;
	height: 10%;
	background-color: black;
}

.nav{
	width: 20%;
	min-width: 193.609;
	min-height: 80%;
	/*background-color: #3364FF;*/
	float: left;
}

.centro{
	background-color: white;
	width: 80%;
	min-height: 100%;
}

.bot{
	display: flex;
	width: 100%;
	min-height: 80%;
	background-color: #3364FF;
}


.nav_bar{
	margin-top: 10px;
}

.nav_bar li a{
	color: black;
	opacity: 0;
	transition: all 2s ease;
}

.nav_bar:hover li a{
	opacity: 1;	
}

.nav_bar li{
	margin: 5px;
	height: 0px;
	transition: all 2s ease;
	width: 80%;
}

.nav_bar:hover li{
	height: 20px;
}

.bloco{
	display: block;
	width: 80%;
	margin: 0 auto;
}

		
.titulo{
	display: block;
	margin: 10px auto;
	text-align: center;
	font-size: 30px;
	color: #3364FF;
}

.text{
	font-size: 20px;
	color: black;
	text-align: justify;
	display: block;
}

.mark{
	background-color: #6583E0;
}

.bloco_img{
	display: block;
	margin: 5px auto;
	text-align: center;
}

	.bloco_img .titulo{
		font-size: 20px;
	}

	.img{
		display: block;
		margin: 5px auto;
	}

	.img_p{
		width: 100px;
	}

	.img_m{
		width: 200px;
	}

	.img_g{
		width: 300px;
	}

	.bloco_img .fonte{
		font-size: 15px;
	}


.option{
	display: block;
	margin-top: 20px;
	font-size: 20px;
}

.submit{
	margin: 10px; 
	background-color: #3364FF;
	border-radius: 20px;
	padding: 10px;
	font-size: 20px;
	color: white;
	float: right;
}

