.dicas #cssmenu ul ul li a {
    padding: 14px 22px;
    cursor: pointer;
    z-index: 2;
    font-size: 14px;
    text-decoration: none;
    color: black;
    background: white;
    -webkit-transition: color .2s ease;
    -o-transition: color .2s ease;
    transition: color .2s ease;
    text-align: justify;
}

.mrk{
    background-color: #AFEEEE;
}

.img{
    margin: 10px auto;
    display: block;
}

.img_p{
    width: 100px;
}

.img_m{
    width: 300px;
}

.img_g{
    width: 600px;
}