.listas {
	background-color: #3ab4a6;
}

.mat {
    padding: 14px 22px;
    z-index: 2;
	
	list-style-type:square;
	list-style-position:inside;
	font-size: 14px;
    text-decoration: none;
	text-indent:30%;
	text-align:left; 
    color: white;
}
/*
.mat ul li {
	display:none;
}

.mat:hover ul li { 
	display:block;
}
*/	

.submit {
	border:none;
	padding: 22px 30px;
	color:white;
    z-index: 2;
	background-color: #52c7b9;
}



label {
	margin-left:10%;
	
	color:white;
	font-size: 14px;
	text-indent:0%;
}

